/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
/.env
resources/public/dump/*
resources/public/js/zepto.min.js
/tmp
src/multiplex/config.clj
resources/public/md/changes.md
.idea
.vagrant
*.iml
