{% extends "simplex_clj/views/templates/page_base.html" %}
{% block content %}

<div class="center">
this is simplex-clj.<br />
with the help of luminus, Clojure and stuff<br />

Use this bookmark: <a href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('http://dump.f5n.org/add/YOURAPIKEY?url='+encodeURIComponent(q)+'&txt='+encodeURIComponent(d)+'&title='+encodeURIComponent(p),'simplex','toolbar=no,width=700,height=350'));">Bookmark me</a><br />

&middot;
<a href="http://f5n.de">f5n.de</a> &middot;
<a href="http://codeschmie.de">codeschmie.de</a> &middot;
<a href="http://wink.soup.io">music soup</a> &middot;
</div>

{% endblock %}
