{% extends "simplex_clj/views/templates/page_base.html" %}
{% block content %}

{% for post in posts %}
{{ post }}aa
{% ifequal post.itemtype "video" %}
 {% include "simplex_clj/views/templates/post_video.html" %}
{% else %}
 {% ifequal type "link" %}
  {% include "simplex_clj/views/templates/post_link.html" %}
 {% else %}
  {% ifequal type "image" %}
   {% include "simplex_clj/views/templates/post_image.html" %}
  {% else %}
   {% include "simplex_clj/views/templates/post_text.html" %}
  {% endifequal %}
 {% endifequal %}
{% endifequal %}

{% block post %}{% endblock %}
{% endfor %}

{% endblock %}
