<li class="video">
<span class="small">| {{post.created}} <a href="/show/{{post.id}}">#</a></span></li>
{% ifequal post.site "vimeo" %}
 <iframe src="http://player.vimeo.com/video/{{ post.code }}" width="640" height="480" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
{% else %}
 {% ifequal post.site "youtube" %}
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ post.code }}?rel=0" frameborder="0" allowfullscreen></iframe>
 {% else %}
  Unknown video format.
 {% endifequal %}
{% endifequal %}
