(ns multiplex.config)

(def itemtypes '("image" "link" "text" "video" "audio"))
(def default-limit 10)

(def img-types '("jpg" "png" "gif" "svg" "jpeg"))
(def img-max-size [640 480])

(def sites-youtube '("youtube.com" "youtu.be"))
(def sites-vimeo '("vimeo.com"))
(def sites-myvideo '("myvideo.de"))
(def sites-video (flatten (conj sites-youtube sites-vimeo sites-myvideo)))

(def sites-soundcloud '("soundcloud.com" "snd.sc"))
(def sites-xy '("example.example"))
(def sites-audio (flatten (conj sites-soundcloud sites-xy)))

(def sites-imgur-gifv '("imgur.com" "i.imgur.com"))

(def multiplex {:page-title "multiplex"
                :page-scheme "http"
                :page-url "example.org"
                :static-scheme "http"
                :static-url "static.example.org"
                :assets-scheme "http"
                :assets-url "static.example.org"
                :bookmark-text "Bookmark me"
                :theme  "default"})
(def abs-path "/srv/www/multiplex/resources/public/dump")
(def rel-path "/dump")

(defn abs-file [file] (str abs-path "/" file))
(defn rel-file [file] (str rel-path "/" file))
(defn abs-file-thumb [file site] (str abs-path "/" site "/" file))

(def mydb (or (System/getenv "CLEARDB_DATABASE_URL") "postgres://USER:PASS@127.0.0.1/DBNAME"))

(defn salt-password
  "when setting up multiplex, think about some creative per-user salt, preferably without something random to allow people to login later"
  [username password userid]
  (str username "_salted_" password))

(defn salt-apikey
  "when setting up multiplex, think about some creative per-user salt, preferably using something random here"
  [username password userid]
  (str username ".wtf.is.this.shit." (System/currentTimeMillis)))
