{% extends "multiplex/views/templates/page_base.html" %}
{% block content %}

<div class="center">

<div class="user-header">
{% include "multiplex/views/templates/snippet_avatar.html" %}
<div class="user-header-text"><h2>{{post.username}}'s multiplex</a></h2></div>
</div>

{% if post.apikey %}
<p>
Hello, <a href="mailto:{{ post.email }}">{{ post.username }}</a><br />
Your API key is <code>{{ post.apikey }}</code><br />
</p>

<p>Use this bookmark: <a href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('http://dump.f5n.org/add/{{ post.apikey }}?url='+encodeURIComponent(q)+'&txt='+encodeURIComponent(d)+'&title='+encodeURIComponent(p),'multiplex','toolbar=no,width=700,height=350'));">Bookmark me</a><br />
</p>
{% endif %}

</div>
{% include "multiplex/views/templates/snippet_posts.html" %}
{% endblock %}
