{% extends "multiplex/views/templates/page_minimal.html" %}
{% block content %}

{% ifequal apikey "" %}

Login first.

{% else %}

<form action="/store/{{apikey}}" id="addform" method="post">
    {% csrf-field %}
    <p><label>URL:<br /> <input type="text" name="url" value="{{url}}" /></label></p>
    <p><label>Text:<br /> <textarea rows="5" cols="60" name="txt">{{txt}}</textarea></label></p>
    <p><label>Tags: <input type="text" name="tags" value="{{tags}}" class="smaller" /></label> (separate with spaces)</p>
<!--    <p>Type: <input type="text" name="type" value="{{type}}" /></p>-->
    <input type="submit" value="post" />
</form>

{{ content }}

{% endifequal %}

{% endblock %}
