{% extends "multiplex/views/templates/page_base.html" %}
{% block content %}

<div class="center">

<div class="user-header">
{% include "multiplex/views/templates/snippet_avatar.html" %}
<div class="user-header-text"><h2>{{ page-header }}</h2></div>
  <div class="pagination-by-type">
    <a href="{{ type-navi-link }}"><img src="{{ assets-prefix }}/img/map1/share.png" width="32" height="37" alt="link" /></a>
    <a href="{{ type-navi-text }}"><img src="{{ assets-prefix }}/img/map1/text.png" width="32" height="37" alt="text" /></a>
    <a href="{{ type-navi-image }}"><img src="{{ assets-prefix }}/img/map1/photo.png" width="32" height="37" alt="image" /></a>
    <a href="{{ type-navi-audio }}"><img src="{{ assets-prefix }}/img/map1/audio.png" width="32" height="37" alt="audio" /></a>
    <a href="{{ type-navi-video }}"><img src="{{ assets-prefix }}/img/map1/video.png" width="32" height="37" alt="video" /></a>
  </div>
</div>

{% if post.apikey %}
<p>
Hello, <a href="mailto:{{ post.email }}">{{ post.username }}</a><br />
Your API key is <code>{{ post.apikey }}</code><br />
</p>

<p>Use this bookmark: <a href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('{{ multiplex.page-scheme }}://{{ multiplex.page-url }}/add/{{ post.apikey }}?url='+encodeURIComponent(q)+'&txt='+encodeURIComponent(d)+'&title='+encodeURIComponent(p),'multiplex','toolbar=no,width=700,height=350'));">{{ multiplex.bookmark-text }}</a><br />
</p>
{% endif %}
</div>
{% if post.apikey %}
{% else %}
{% include "multiplex/views/templates/snippet_posts.html" %}
{% endif %}
{% endblock %}
