{% extends "multiplex/views/templates/page_base.html" %}
{% block content %}

<div class="center">

<p>
this is multiplex, the evolution of simplex.<br /><br />
Built with <a href="http://www.luminusweb.net">luminus</a>,
 <a href="http://clojure.org">clojure</a>,
 <a href="http://vim.org">vim</a>,
 <a href="http://www.mysql.com">mysql</a>,
 <a href="http://zeptojs.com/">zepto.js</a> and not much more.
</p>
<p>Icons by <a href="http://mapicons.nicolasmollet.com/">Map Icons Collection</a> (CC-BY-SA 3.0)</p>

<hr>

<p>Use this bookmark (and add your API key): <a href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('http://dump.f5n.org/add/YOURAPIKEY?url='+encodeURIComponent(q)+'&txt='+encodeURIComponent(d)+'&title='+encodeURIComponent(p),'multiplex','toolbar=no,width=700,height=350'));">Bookmark me</a><br />
</p>

</div>

{% endblock %}
