<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{{ multiplex.page-title }}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="/css/base{{multiplex.theme}}.css" media="screen, print" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
</head>
<body onload="init();">
<script language="javascript">
function init() {

  var urlfield = $('#addform input[name="url"]')[0];
}
</script>
<div id="body">
<div id="content">

<ul class="main">
{% block content %}{% endblock %}
</ul>

</div>
</div>

</body>
</html>

