{% extends "multiplex/views/templates/page_base.html" %}
{% block content %}

<div class="center">

{% if apikey %}
Hello, <a href="mailto:{{ email }}">{{ username }}</a><br />

<p>Use this bookmark: <a href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('http://dump.f5n.org/add/{{ apikey }}?url='+encodeURIComponent(q)+'&txt='+encodeURIComponent(d)+'&title='+encodeURIComponent(p),'multiplex','toolbar=no,width=700,height=350'));">Bookmark me</a><br />
</p>
{% else %}
<p>Use this bookmark: <a href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('http://dump.f5n.org/add/YOURAPIKEY?url='+encodeURIComponent(q)+'&txt='+encodeURIComponent(d)+'&title='+encodeURIComponent(p),'multiplex','toolbar=no,width=700,height=350'));">Bookmark me</a><br />
</p>
{% endif %}

<hr>
<p>
this is multiplex, the evolution of simplex.<br />
Built with <a href="http://www.luminusweb.net">luminus</a>, <a href="http://clojure.org">clojure</a>, vim, mysql and stuff<br />
</p>

</div>

{% endblock %}
