{% extends "multiplex/views/templates/page_base.html" %}
{% block content %}

<div class="center">

<div class="user-header">
{{username}}'s multiplex
</div>

{% if apikey %}
<p>
Hello, <a href="mailto:{{ email }}">{{ username }}</a><br />
Your API key is <code>{{ apikey }}</code><br />
</p>

<p>Use this bookmark: <a href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('http://dump.f5n.org/add/{{ apikey }}?url='+encodeURIComponent(q)+'&txt='+encodeURIComponent(d)+'&title='+encodeURIComponent(p),'multiplex','toolbar=no,width=700,height=350'));">Bookmark me</a><br />
</p>
{% endif %}

</div>

{% endblock %}
