  <li class="audio">
{% include "multiplex/views/templates/snippet_avatar.html" %}
{% include "multiplex/views/templates/snippet_perma.html" %}
{% ifequal post.site "soundcloud" %}
    <div class="audio-content">
{% if post.code %}
      <div id="audio-thumb-{{ post.id }}" style="background: transparent url({{ post.static-url }}/img/soundcloud_embed_dummy.png) 10px 0px no-repeat; width: 560px; height: 200px;">
        <img src="{{ post.static-url }}/img/playbutton_big.png" alt="img-{{ post.id }}" width="300" height="200" style="margin-left: 90px;" />
      </div>
<script>
var iframe_{{ post.id }} = '<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ post.code }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>';
document.querySelector('#audio-thumb-{{ post.id }}').onclick = function (ev) {
  ev.currentTarget.style.background = "";
  ev.currentTarget.innerHTML = iframe_{{ post.id }};

};
</script>
{% else %}
Error: Not found.
{% endif %}
      <p><a href="{{ post.url }}">{{ post.txt }}</a></p>
    </div>
{% else %}
    Unknown format: {{ post.url }}
{% endifequal %}
  </li>
