<li class="pic">
{% include "multiplex/views/templates/snippet_avatar.html" %}
{% include "multiplex/views/templates/snippet_perma.html" %}
{% if post.meta.thumb %}
<a href="{{post.url}}"><img src="{{post.url}}.thumb.{{post.meta.thumb}}" /></a>
{% else %}
<img src="{{post.url}}" />
{% endif %}

{% if post.meta %}
  <div id="meta-bag-{{post.id}}" class="meta-bag">
    <a id="meta-link-{{post.id}}">META +</a>

  <script>
$("#meta-link-{{post.id}}").on("click", function(e) {
  $("#meta-{{post.id}}").toggleClass("hidden");
/*  $("#meta-link-{{post.id}}").text('META -');*/
});</script>
    <div id="meta-{{post.id}}" class="hidden">
    {% if post.meta.url %}
      <div id="meta-url-{{post.id}}">
      {{post.meta.url}}
      </div>
    {% endif %}
    {% if post.meta.size %}
      <div id="meta-size-{{post.id}}">
      {{post.meta.size}}
      </div>
    {% endif %}
    </div>
  </div>
{% endif %}
</li>
