  <li class="video">
{% include "multiplex/views/templates/snippet_avatar.html" %}
{% include "multiplex/views/templates/snippet_perma.html" %}
{% ifequal post.site "vimeo" %}
    <div class="video-content">
      <div class="video-thumb-vimeo" id="video-thumb-{{ post.id }}" style="background-image: url({{ post.static-url }}/dump/{{ post.site }}/{{ post.meta.thumbnail }});">
        <img src="{{ post.assets-url }}/img/playbutton_big.png" alt="img-{{ post.id }}" width="500" height="281" />
      </div>
<script>
var iframe_{{ post.id }} = '<iframe src="https://player.vimeo.com/video/{{ post.code }}" width="500" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>';
document.getElementById('video-thumb-{{ post.id }}').onclick = function (ev) {
  ev.currentTarget.innerHTML = iframe_{{ post.id }};
  ev.currentTarget.style.background = "";
  ev.currentTarget.classList.add('video-thumb-shifted');
};
</script>
      <p><a href="https://vimeo.com/{{ post.code }}">{{ post.txt }}</a></p>
    </div>
{% else %}
 {% ifequal post.site "youtube" %}
    <div class="video-content">
      <div class="video-thumb-youtube" id="video-thumb-{{ post.id }}" style="background-image: url({{ post.static-url }}/dump/{{ post.site }}/{{ post.meta.thumbnail }});">
        <img src="{{ post.assets-url }}/img/playbutton_big.png" alt="img-{{ post.id }}" width="560" height="315" />
      </div>
<script>
var iframe_{{ post.id }} = '<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ post.code }}?rel=0" frameborder="0" allowfullscreen></iframe>';
document.getElementById('video-thumb-{{ post.id }}').onclick = function (ev) {
  ev.currentTarget.innerHTML = iframe_{{ post.id }};
  ev.currentTarget.style.background = "";
};
</script>
      <p><a href="http://youtube.com/watch?v={{ post.code }}">{{ post.txt }}</a></p>
    </div>
 {% else %}
    Unknown video format: {{ post.url }}
 {% endifequal %}
{% endifequal %}
  </li>
