* {
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
  color: #333;
  font-size: 14px;
  font-family: "calibri", "serif";
  line-height: 21px;
}
#header {
  background-color: #d164be;
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #ad80a5;
  text-align: center;
  padding-top: 3px;
}
#body {
  width: 100%;
}
#content {
  width: 70%;
  margin: 0 auto;
}
#footer {
  clear: both;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.footer {
  border-top: 1px solid #ad80a5;
  padding-top: 5px;
}
h1, h2, h3  {
  text-decoration:  none;
  font-family:      'Trebuchet MS', 'Lucida Grande', verdana, arial, sans-serif;
  font-size:        1.5em;
  font-weight:      bold;
  margin-top:       20px;
  margin-bottom:    10px;
}
a {
  color: #d164be;
  text-decoration: none;
}
a:link {
  text-decoration:underline;
  color:#d164be;
}
a:hover {
  color: #ad80a5;
  text-decoration: underline;
}
.bd {
  font-weight:bold;
}
.u {
  text-decoration: none;
}
img {
  border:0;
}
.hidden {
  visibility: hidden; height: 0px;
}
.perma {
  vertical-align: top;
}
.user-header {
  background-color: #d164be;
  height: 34px;
  clear: both;
  margin-top: 20px;
}
.user-header-text {
  margin-top: -22px;
  vertical-align: top;
  float: left;
}
.user-header-text h2 {
  padding-top: 8px;
  padding-left: 40px;
}
.avatar {
  float: left;
}
.avatar img {
  margin-top: 1px;
}
ul {
  margin-left: 20px;
}
.post-list {
  list-style-type: none;
  margin-left: 10px;
  width: 70%;
}
.post-list>li {
    background-repeat: no-repeat;
    background-position: 0 .4em;
    padding: 4px 0 3px 34px;
    margin: .4em 0;
    line-height: 32px;
}
.post-list li a {
   text-decoration: none;
}
li.type-link {
    background-image: url(/img/map2/star-3.png);
}
li.type-video {
    background-image: url(/img/map2/video.png);
}
li.type-audio {
    background-image: url(/img/map2/audio.png);
}
li.type-text {
    background-image: url(/img/map2/text.png);
}
li.type-image {
    background-image: url(/img/map2/photo.png);
}
li.type-video .video-content {
    margin-left: 32px;
    padding-top: 15px;
}
li.type-audio .audio-content {
    margin-left: 32px;
    padding-top: 15px;
}
.video-thumb-youtube {
    width: 560px;
    height: 315px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.video-thumb-vimeo {
    width: 500px;
    height: 281px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.audio-thumb-soundcloud {
    width: 560px;
    height: 166px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.audio-thumb-mixcloud {
  width: 462px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video-thumb-youtube img {
   margin-left: 0;
}
.video-thumb-vimeo img {
   margin-left: 0;
}
.video-thumb-shifted {
   margin-top: -17px;
   margin-bottom: 17px;
   margin-left: 0px;
}
.meta-bag {
   margin-left: 32px;
   margin-top: 0px;
}
.meta-bag a {
    cursor: pointer;
}
form {
  margin-top: 10px;
}
form textarea {
  width: 75%;
}
form input[type="text"] {
  width: 75%;
}
form input[type="password"] {
  width: 75%;
}
form input.login-form {
  width: 200px;
}
form input[type="submit"] {
  margin-top: 10px;
  width: 100px;
}
form input.delete-button {
  color: #eeeeee;
  background-color: #922c2c;
  margin-right: -47px;
  width: 100px;
  float: right;
}
#form_edit {
  margin-bottom: 70px;
}
#form_post_delete {
  width: 70%;
  margin-top: -30px;
}
.pagination {
    font-size: large;
}
.pagination strong {
    font-size: larger;
    text-decoration: underline;
}
.pagination-by-type {
    margin-top: 1px;
    float: right;
    text-align: right;
}
hr {
    margin: 20px 0;
    padding: 0;
    border: none;
    border-top: medium double #ad80a5;
    color: #ad80a5;
    text-align: center;
}
.flash {
  font-weight: bold;
  border: 2px dotted #333333;
  padding: 5px;
  width: 70%;
}