{% extends "page_base.html" %}
{% block content %}

<div class="center">
  {% ifequal auth.loggedin "true" %}
  {% if glob.flash %}<div class="flash">Updated: <a href="/post/{{ glob.flash }}">{{ glob.flash }}</a>.</div>{% endif %}
  {% endifequal %}
{% if post.author.uid %}{% ifequal glob.modus "single" %}{% else %}
    <div class="user-header">
    {% include "snippet_avatar.html" %}
    <div class="user-header-text"><h2>{{ glob.page-header }}</h2></div>
      <div class="pagination-by-type">
        <a href="{{ navi.type-link }}"><img src="{{ glob.assets-prefix }}/media/img/map2/star-3.png" width="32" height="32" alt="link" /></a>
        <a href="{{ navi.type-text }}"><img src="{{ glob.assets-prefix }}/media/img/map2/text.png" width="32" height="32" alt="text" /></a>
        <a href="{{ navi.type-image }}"><img src="{{ glob.assets-prefix }}/media/img/map2/photo.png" width="32" height="32" alt="image" /></a>
        <a href="{{ navi.type-audio }}"><img src="{{ glob.assets-prefix }}/media/img/map2/audio.png" width="32" height="32" alt="audio" /></a>
        <a href="{{ navi.type-video }}"><img src="{{ glob.assets-prefix }}/media/img/map2/video.png" width="32" height="32" alt="video" /></a>
      </div>
    </div>
{% endifequal %}{% endif %}

{% include "snippet_posts.html" %}
{% endblock %}
