{% extends "page_base.html" %}
{% block content %}
<div class="center">

  <h2>multiplex &middot; about</h2>
  <p>
  this is multiplex v2, a simple soup clone.<br />
  </p>
  <hr>
  <p>
  Built with <a href="http://www.luminusweb.net">luminus</a>,
   <a href="https://clojure.org">clojure</a>,
   <a href="https://www.postgresql.org">postgresql</a>, minimal JS and not much more.
  </p>
  <p><a href="https://github.com/winks/multiplex">The code</a> is available.</p>
  <p>Icons by <a href="https://mapicons.mapsmarker.com">Map Icons Collection</a> (CC-BY-SA 3.0)</p>
  <p>Here's a list of <a href="/users">public users</a>.</p>
  <hr>

</div>
{% endblock %}
